.header {
    font-family: sans-serif;
    font-size: medium;
    font-weight: bold;
    text-transform: uppercase;
}
.panel {
    margin: 5px;
    padding: 5px;
    background-color: #eeeeee;
    border-radius: 2px;
    box-shadow: 1px 1px 1px #888888;
}
.toolbar {
    margin: 0px;
    padding: 0px;
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
}
.desc {
    position: absolute;
    left: 5%;
    top: 5%;
    padding: 1%;
    color: white;
    text-shadow: 0 0 3px #000000;
    font-family: sans-serif;
    font-size: xx-large;
    background-color: #dddddd;
    border-radius: 5px;
}
input.flatbutton {
    cursor: pointer;
    padding: 5px 10px;
    background: #cccccc;
    border:0px solid #000000;
    border-radius: 2px;
}
input.flatbutton:hover, input.flatbutton:focus {
    background: #dddddd;
}
input.flatbuttonimage {
    background: none;
    margin: 3px;
    padding: 1px;
    height: 25px;
    width: 25px;
    display: block;
}
input.flatbuttontoggle {
    margin: 1px;
    border:2px solid #eeeeee;
}
input.flatbuttontoggle:hover, input.flatbuttontoggle:focus {
    border:2px solid #000000;
}
input.flatbuttontoogleon {
    border:2px solid #000000;
}
input.flattext {
    padding: 5px 5px;
    border:1px solid #000000;
    border-radius: 2px;
}
